.lookbook__triger button,
.modal-content__close {
    outline: transparent;
    border: none;
    cursor: pointer
}

.lookbook-info__info>:not(:last-child),
.lookbook__grid-item--content>:not(:last-child) {
    margin: 0 0 15px
}

.lookbook {
    position: relative;
    line-height: 1
}

.lookbook__grid {
    display: flex;
    align-items: center;
    justify-content: center
}

.lookbook__grid--right {
    flex-direction: row-reverse
}

.lookbook__grid-item,
.lookbook__triger {
    max-width: 50%;
    width: 100%
}

.lookbook__grid-item--image {
    position: relative;
    width: 100%;
    padding-bottom: 75%
}

.lookbook__grid-item--image img,
.lookbook__grid-item--image picture {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.lookbook__grid-item--content {
    padding: 0 100px;
    font: normal 400 11px/1.6 var(--font-body-family);
    color: #1e1e20
}

.lookbook__grid-item--content>* {
    margin: 0;
    font: inherit;
    color: inherit
}

.lookbook__triger button {
    width: fit-content;
    margin: 10px auto 0;
    display: flex;
    text-decoration: underline;
    background-color: transparent;
    font: normal 400 14px/1.6 var(--font-body-family);
    color: #1e1e20
}

.lookbook__modal {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: .3s linear;
    visibility: hidden
}

.lookbook-product,
.modal-content {
    display: flex;
    align-items: flex-start
}

.lookbook__modal--active {
    opacity: 1;
    pointer-events: all;
    visibility: visible
}

.lookbook__modal-overlay {
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}

.lookbook__modal-content {
    position: relative;
    z-index: 2;
    padding: 30px;
    width: calc(100% - 60px);
    max-height: calc(100% - 60px);
    background-color: #fff
}

.modal-content {
    justify-content: flex-start;
    column-gap: 30px;
    overflow: auto
}

.modal-content__close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: transform .3s linear;
    z-index: 1
}

.modal-content__close svg {
    pointer-events: none;
    width: 20px;
    height: 20px
}

.modal-content__item {
    max-width: calc(100% / 2 - 30px * 1 / 2);
    width: 100%
}

.modal-content__item--image {
    position: relative;
    width: 100%;
    padding-bottom: 75%
}

.modal-content__item--image img,
.modal-content__item--image picture {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    object-fit: cover
}

.modal-content__item--products {
    max-height: 100%;
    overflow: auto
}

.modal-products {
    display: flex;
    flex-direction: column;
    row-gap: 20px
}

.modal-products>:not(:last-child) {
    border-bottom: 1px solid #000
}

.lookbook-product {
    padding-bottom: 20px;
    justify-content: flex-start;
    align-items: stretch;
    column-gap: 20px
}

.lookbook-product__image {
    width: 40%;
    position: relative;
    display: block;
    padding-block: 24%;
    overflow: hidden;
}

.lookbook-product__image img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s linear;
}

.lookbook-product__info {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.lookbook-info__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 10px
}

.lookbook-info__title {
    font: normal 700 16px/1.6 var(--font-heading-family);
    text-decoration: none;
    color: #1e1e20
}

.lookbook-info__prices {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    font: normal 400 14px/1 var(--font-body-family)
}

.lookbook-prices__item--origin {
    color: #f38881
}

.lookbook-prices__item--compare {
    color: #1e1e20;
    text-decoration: line-through
}

.lookbook-prices__item--only {
    color: #1e1e20
}

.lookbook-info__info {
    margin-top: 15px;
    font: normal 400 14px/1.2 var(--font-body-family);
    color: #1e1e20
}

.lookbook-info__info>* {
    font: inherit;
    color: inherit;
    margin: 0
}

.lookbook-actions {
    margin-top: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    column-gap: 5px;
    flex: 1;
}

.lookbook-actions__selector select {
    border: none;
    padding: 0;
    margin: 0;
    font: normal 400 12px/1.2 var(--font-body-family);
    color: #1e1e20;
    cursor: pointer;
}

.lookbook-actions__selector span {
    font: normal 400 12px/1.2 var(--font-body-family);
    color: #1e1e20
}

.lookbook-actions__selector select:focus-visible {
    outline: unset;
    outline-offset: unset;
    box-shadow: unset
}

.lookbook-actions__form {
    width: 100%
}

.lookbook-actions__form form {
    position: relative;
    display: flex;
}

.lookbook-actions__form button {
    cursor: pointer;
    border: 1px solid #1e1e20;
    font: normal 400 14px/1.2 var(--font-body-family);
    color: #1e1e20;
    padding: 10px 0;
    margin: 0;
    outline: 0;
    background-color: transparent;
    width: 100%;
    transition: all 0.3s linear;
}

.lookbook-actions__form-error {
    margin-top: 10px;
    font: normal 400 10px / 1.2 var(--font-body-family);
    color: #f38881;
    position: absolute;
    width: 100%;
    bottom: -35px;
}

@media (max-width:749px) {
    .lookbook__grid {
        flex-direction: column
    }

    .lookbook__grid-item,
    .lookbook__triger {
        max-width: 100%
    }

    .lookbook__grid-item--content {
        padding: 24px 16px 0
    }

    .lookbook__grid-item--image {
        padding-bottom: 150%
    }

    .modal-content {
        flex-direction: column;
        column-gap: 0;
        row-gap: 20px
    }

    .modal-content__item {
        width: 100%;
        max-width: 100%
    }

    .modal-content__item--image {
        padding-bottom: 50%
    }

    .modal-content__item--image img {
        object-fit: contain
    }

    .modal-content__item--products {
        overflow: unset
    }

    .lookbook__modal-content {
        padding: 10px;
        width: calc(100% - 20px);
        max-height: calc(100% - 20px)
    }
}

@media (hover:hover) {
    .lookbook__triger button:hover {
        text-decoration: none
    }

    .lookbook-info__title:hover {
        text-decoration: underline;
    }

    .lookbook-product__image:hover img {
        transform: scale(1.05);
    }

    .modal-content__close:hover {
        transform: scale(1.1)
    }

    .lookbook-actions__form button:hover {
        background-color: #1e1e20;
        color: #fff;
    }
}